.App {
  text-align: center;
}

h1 {
  color: #D7E8BA;
  font-family: 'Trebuchet MS';
}

body {
  background: #4DA1A9;
}

.searchInputs input {
  height: 29px;
  width: 250px;
  margin-right: 15px;
  border-radius: 2px;
  border: none;
}

.search-button {
  background-color: #2E5077 !important;
  height: 31px;
}

.textName {
  color: #611C35;
}